* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

/* 
header input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
} */

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #0056b3;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
}

.form-container input, 
.form-container textarea, 
.form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


